.cart{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.cart h2{
    font-family: var(--font-family-title);
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem;
}

.cartContent{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.productList{
    display: flex;
    align-items: center;
}


.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.total span{
    margin-right: 0.5rem;
    font-weight: 600;
}

.total p{
    font-weight: 500;
    border-bottom: var(--border-bottom-line);
}

.buttons{
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

@media(max-width: 650px){
    .cart{
        font-size: 0.9rem;
    }
    .cart h2{
        font-size: 1.7rem;
    }
}
  
  @media(max-width: 590px){
    .cart{
        padding: 0.5rem;
    }

    .cartContent{
        row-gap: 1rem;
    }
}