.button{
    font-family: var(--font-family);
    font-size: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 25px;
    background-color: transparent;
    padding: 0.4rem 1rem;
    cursor: pointer;
}



.button:hover{
    border: 1px solid var(--color-border-hover);
    box-shadow: 0px 0px 7px var(--color-border);
    color: var(--color-border);
}

