.category{
    border: 1px solid var(--color-border);
    border-radius: 25px;
    width: 11rem;
    padding: 0 0.5rem;
}


@media(max-width: 590px){
    .category{ 
        width: 11.2rem;
        font-size: 0.9rem;   
    }
}



/* .category select{
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 1rem;
    cursor: pointer;
}

.category select option{
    background-color: var(--color-border);
} */