
.mainHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2rem 0; */
    /* row-gap: 2rem; */
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    margin: 0rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

.text h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border-hover); 
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text p {
    text-align: justify;
}

.text .testimonial {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background2);
    padding: 1.5rem;
    border-left: 3px solid var(--color-background); 
    border-radius: 5px;
    font-style: italic;
    color: var(--color-border);
    box-shadow: var(--shadow);
}

.text .testimonialName {
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: right;
}



@media(max-width: 1700px){
    .title{
        width: 35rem;
        top: 5rem;
        left: 2rem;
        line-height: 7rem;
        font-size: 5rem;
    }

    .button{
        bottom: 10rem;
        left: 0rem;
    }

    
}

@media(max-width: 1580px){
    .button{
        bottom: 6rem;
        left: 0rem;
    }

    
}

@media(max-width: 1390px){
    .title{
        width: 30rem;
        top: 7rem;
        left: 1rem;
        line-height: 6rem;
        font-size: 4rem;
    }

    .button{
        bottom: 7rem;
        left: -4rem;
    }
}

@media(max-width: 1180px){
    .title{
        width: 25rem;
        line-height: 4rem;
        font-size: 3rem;
    }

    .button{
        left: -7rem;
    }
}

@media(max-width: 1180px){
    .title{
        width: 20rem;
        top: 8rem;
        left: 3rem;
        font-size: 2.5rem;
    }

    .button{
        bottom: 5rem;
    }
}

@media(max-width: 940px){
    .title{
        width: 15rem;
        top: 7rem;
        left: 4rem;
        line-height: 4rem;
        font-size: 2rem;
    }

    .button{
        bottom: 5rem;
        left: -8.6rem;
    
    }
}

