.productsPage h2{
    font-family: var(--font-family-title);
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
}

.description{
    padding: 0 20rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.filters{
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    padding: 0 3rem;
}

.noProduct{
    margin-top: 4rem;
    font-size: 1.2rem;
    border-bottom: var(--border-bottom-line);
    padding: 1rem;
}

@media(max-width: 1500px){
    .productsPage h2{
        font-size: 2rem;
        margin-top: 5rem;
    }
    .description{
        padding: 0 10rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }


}

@media(max-width: 850px){
    .productsPage h2{
        font-size: 2rem;
    }
    .description{
        padding: 0 6rem;
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    .noProduct{
        margin-top: 4rem;
        font-size: 1.1rem;
        padding: 0.5rem;
    }
}

@media(max-width: 590px){
    .productsPage h2{
        font-size: 1.7rem;
        margin-top: 4rem;
    }
    .description{
        padding: 0 4rem;
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .filters{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 1rem;
        padding: 0 3rem;
    }

    .noProduct{
        margin-top: 4rem;
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media(max-width: 400px){
    .productsPage h2{
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .description{
        display: none;
    }
}

