.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    height: 60vh;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 2rem;
    margin-top: 4rem;
    /* margin: 4rem 1rem; */
    
}

.image{
    width: 100%;
    height: 70%;
    padding: 1rem 2rem;
    
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title{
  font-family: var(--font-family-title);
  font-size: 1.4rem;
    
}

.buy{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    justify-content: flex-end;
}

.buy p{
    font-weight: bold;
}



/* CSS FOR PRODUCT PAGE */
.cardOnProduct{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 60vw;
    height: 60vh;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 2rem;
    margin: 5rem auto;
}

.imageOnProduct{
    width: 50%;
    height: 80%;
    padding: 2rem;
}


.detailsOnProduct{
    width: 50%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}


.detailsOnProduct p{
    width: 90%;
    text-align: justify;
    line-height: 1.5rem;
}

.buyOnProduct{
    width: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 1rem;

}

.buyOnProduct div{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.buyOnProduct p{
    font-size: 1.1rem;
    font-weight: 600;
    
}

.buyOnProduct span{
    font-size: 1.1rem;
    font-weight: 500;

}

.instructions{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    line-height: 1.1rem;
    width: 90%;
    margin-top: 2rem;
}

.instructions span:first-child{
    font-weight:bold;
    margin-right: 0.5rem;
    color: var(--color-border);
}

.instructions span:nth-child(2){
    color: var(--color-border-hover);
    margin-left: 0.3rem;
}

@media(max-width: 1100px){
    /* ON PRODUCTS */
    .card{  
        height: 50vh;    
    }
    .image{
        height: 60%;   
    }

    /* ON PRODUCT */
    .cardOnProduct{
        width: 75vw;
        padding: 1.5rem;
        margin: 4rem auto;
    } 
    /* .detailsOnProduct h3{
        padding-top: 1rem;
    }
     */
    
    .detailsOnProduct p{
        line-height: 1.4rem;
    }
    
    .buyOnProduct{
        row-gap: 0.5rem;
    }
    
    .buyOnProduct div{
        column-gap: 0.7rem;
    }
    
    .buyOnProduct p{
        font-size: 1rem;    
    }
    
    .buyOnProduct span{
        font-size: 1rem;
    }
    
    .instructions{
        font-size: 0.6rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .instructions span:first-child{
        margin-left: 0.5rem;
    }
    
    .instructions span:nth-child(2){
        color: var(--color-border-hover);
        margin-left: 0.5rem;
    } 

  
}

@media(max-width: 950px){
    /* ON PRODUCTS */
    .card{
        width: 25vw;    
    }
    .title{
        font-size: 1.2rem;     
    }

    
}

@media(max-width: 850px){
    /* ON PRODUCT */
    .cardOnProduct{
        height: 50vh;
        padding: 2rem;
        margin: 5rem auto;
    } 
    
    .detailsOnProduct p{
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    .buyOnProduct p{
        margin: 0;  
    }
    
    .buyOnProduct span{
        font-size: 1rem;
    }
    
    .instructions{
        margin-top: 0.7rem;
    }
}

@media(max-width: 700px){
    /* ON PRODUCTS */
    .card{
        width: 50vw;
        padding: 1rem 2rem;
        
    }
    .image{
        padding: 2rem 1rem;    
    }

     /* ON PRODUCT */
     .cardOnProduct{
        flex-direction: column;
        height: 80vh;
        padding: 2rem;
        margin: 3rem auto;
    } 

    .imageOnProduct{
        width: 60%;
        height: 50%;
        padding: 1rem;
    }
    
    
    .detailsOnProduct{
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .detailsOnProduct h3{
        margin: 0.5rem 0 0 ;
    }
    
    .buyOnProduct{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1rem;
    }
    
    .instructions{
        align-items: flex-end;
        margin-top: 1rem;
    }
}

@media(max-width: 470px){
    /* ON PRODUCT */
    .cardOnProduct{
        width: 80%;
        height: 90vh;
        border: none;
        box-shadow: none;
        border-radius: none;
        margin-top: 1rem;
    
    } 

    .imageOnProduct{
        width: 60%;
        height: 40%;
        padding-bottom: 0.5rem;
    }
    
    
    .detailsOnProduct{
        width: 100%;
    }

    .instructions{
        align-items: flex-start;
        margin-top: 4rem;
    } 
}


@media(max-width: 400px){
    /* ON PRODUCTS */
    .card{
        padding: 0rem 2rem;
        margin-top: 3rem;
    }
    .image{
        padding: 2rem 1rem 1rem 1rem;
        
    }

    .title{
        margin: 0.5rem;    
    }

    .buy p{
        font-size: 0.9rem;
    }  
}


