.search{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.searchInput{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    border: 1px solid var(--color-border);
    border-radius: 25px;
    padding: 0.5rem 1rem;
}


.searchInput input{
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 1rem;
}

.searchInput input::placeholder{
    color: var(--color-border);
}

.searchInput svg{
    font-size: 1.2rem;
}