.error{
    color: var(--color);
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

.authLogin, .authRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.authLogin{
    row-gap: 2rem;
}

.formAuth{
    width: 40%;

}

.registerButton{
    margin-top: 2rem;
}

@media(max-width: 1100px){
    .formAuth{
        width: 50%;
    
    }
  }

@media(max-width: 890px){
    .formAuth{
        width: 60%;
    
    }
}

@media(max-width: 750px){
    .formAuth{
        width: 70%;
    
    }
}

@media(max-width: 650px){
    .formAuth{
        width: 70%;
    
    }
}
  
  @media(max-width: 490px){
    .formAuth{
        width: 90%;
    }  
  }
  
 